:root {
	--theme: #E8D08F;
	--foreground-color: rgba(20, 20, 24, 0.95);
	--forground-secondary-color: rgba(20, 20, 24, 0.75);
	--decoration-color: #72adb0;
	--theme-gradient: linear-gradient(#E8D08F, #f72052);
	--table-secondary-color: rgba(20, 20, 24, 0.12);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--theme: #412b3d;
		--foreground-color: rgba(224, 215, 203, 0.95);
		--forground-secondary-color: rgba(224, 215, 203, 0.6);
		--decoration-color: #f72052;
		--theme-gradient: linear-gradient(#412b3d, #de6716);
		--table-secondary-color: rgba(224, 215, 203, 0.12);
	}
}

* {
	margin: 0;
}

body {
	background: var(--theme-gradient);
	color: var(--foreground-color);

	padding: 4.2rem;
	font-family: 'Yanone Kaffeesatz', monospace;
	font-size: 4.2rem;
}

h1 {
	text-align: center;
	font-size: 4.2rem;
	padding-bottom: 12.6rem;
}

a {
	color: var(--foreground-color);
	text-decoration-color: var(--decoration-color);
	text-decoration-thickness: 0.5rem;
}

.cp {
	color: var(--forground-secondary-color);
}

.not-yet {
	text-decoration: line-through;
	text-decoration-style: wavy;
	text-decoration-color: var(--decoration-color);
	text-decoration-thickness: 0.5rem;
}

table {
	width: 100%;
	border: none;
}

tr:nth-child(odd) {
	background-color: var(--table-secondary-color);
}

td {
	padding: 0.6rem 0.6rem 0.2rem;
}

td:nth-child(3) {
	text-align: right;
}

td:nth-child(odd) {
	color: var(--forground-secondary-color);
}