<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <title>Utai</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" /> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet" />

    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <page-3-window v-for="url in screenshot.page3ScreenshotURLs"
                   v-bind:url="url"
                   v-bind:key="url.id"></page-3-window>
    <page-2-window v-for="url in screenshot.page2ScreenshotURLs"
                   v-bind:url="url"
                   v-bind:key="url.id"></page-2-window>

    <download v-bind:latest="download.latest" v-bind:legacy="download.legacy"></download>

    <div class="banner_horizontal banner" style="top: 0;">
        <p>Mini-Functional, Offensive, MP3 Tagger for Philharmoniques</p>
    </div>

    <div class="banner_vertical banner" style="left: 0;" lang="ja">
        <p>　</p>
    </div>

    <div class="banner_vertical banner" style="right: 0;" lang="ja">
        <p>　</p>
    </div>

    <script src="js/main.js"></script>
    <script src="js/draggable_screenshot.js"></script>
</body>
</html>