* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(0deg, #a2c1d8, #95c8d9, #8dced3, #8ed3c7, #9bd6b6, #b0d6a5, #cbd496, #e8d08f);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    display: flex;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration-color: #72adb0;
    text-decoration-thickness: 0.2rem;
}

.screenshot {
    margin-top: -0.5px;
}

.screenshot_page_2_img {
    height: 305px;
}

.screenshot_page_3_img {
    height: 818px;
}

.inner {
    margin: auto;

    width: 312px;

    background: rgba(20, 20, 20, 0.60);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.72); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 12px;

    touch-action: none;
}

.inner_page_2 {
    height: 312px;
}

.inner_page_3 {
    height: 818px;
}

.outter {
    width: 314px;

    border: 0.5px solid black;
    border-radius: 12.3px;
}

.outter_page_2 {
    height: 314px;
}

.banner_vertical {
    position: fixed;
    padding: 0 1.2rem;
    height: 100vh;

    background: white;

    writing-mode: vertical-rl;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;

    z-index: 10;
}

.banner_horizontal {
    position: fixed;
    padding: 1.2rem 0;
    width: 100vw;
    
    background: white;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;

    z-index: 10;
}